<a href="https://colab.research.google.com/github/edvaicode/mini-challenges/blob/main/03_trabajemos_agrupando_datos/Trabajemos_con_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://github.com/nico-edvai/images/blob/main/header_edvai.jpg?raw=true)

# A partir del siguiente dataset de buyers, $ðŸ’° gastado y de grupos

0.   Elimine la columna `Unnamed: 0`
1.   Hallar la cantidad de buyers en cada grupo (A,B,C)
2.   Hallar el total ðŸ’° $ de compras por cada buyer

3.   Hallar la cantidad de compras  que realizo cada buyer

4.  Hallar el media, mediana, desvÃ­o ðŸ’°$ por grupo (A,B,C)

## Lo pueden resolver con R o Python


https://dplyr.tidyverse.org/reference/summarise.html

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [2]:
import pandas as pd

In [3]:
ruta = "https://raw.githubusercontent.com/edvaicode/mini-challenges/main/03_trabajemos_agrupando_datos/data_buyers.csv"
df_buyers = pd.read_csv(ruta)
df_buyers

      Unnamed: 0 buyer  pay group
0              0     f   41     C
1              1     e   81     A
2              2     f   58     C
3              3     e   17     A
4              4     z   26     B
...          ...   ...  ...   ...
5225        5225     e   61     A
5226        5226     z   91     B
5227        5227     f   20     C
5228        5228     c   66     A
5229        5229     d   35     A

[5230 rows x 4 columns]